.filter-p{
    background: #f1f1f1;
    padding:10px;
    margin:0 0 10px 0;
}
.card .card-title{
    font-size: 16px;
}
.card .btn-floating > i{
    font-size: 15px;
}
.card-image img{
    width:120px !important;
    height:auto !important;
}
 .fa-bars:before{
    font-size: 20px;
}